/config/dbconnection.php
/config/symbini.php
/footer.php
/header.php
/leftmenu.php
/index.php
content/lang/header.en.php
content/lang/header.es.php
content/lang/index.en.php
content/lang/index.es.php
includes/header.php
includes/footer.php
includes/head.php
includes/leftmenu.php
includes/spprofilehead.php
includes/usagepolicy.php
.buildpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
images/layout/az_nm_header.jpg
images/layout/background.jpg
images/layout/Cact_Carnegiea_gigantea_fl2.png
images/layout/nycecoflora_banner2.jpg
