/config/dbconnection.php
/config/symbini.php
/footer.php
/header.php
/leftmenu.php
/index.php
content/lang/header.en.php
content/lang/header.es.php
content/lang/index.en.php
content/lang/index.es.php
includes/header.php
includes/footer.php
includes/head.php
includes/leftmenu.php
includes/spprofilehead.php
includes/usagepolicy.php
.project
.settings/org.eclipse.core.resources.prefs
content/lang/header.fr.php
.settings/org.eclipse.php.ui.prefs
