/*
Specific Styles for Sortable Tables
`neon/js/sortables.js 
 */
.helper {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.57;
  display: flex;
  margin: 4px 0px 24px 0px;
  border-color: #b39076;
  background-color: #f8f2ec;
  border: 1px solid #d7d9d9;
  overflow: hidden;
  border-radius: 4px;
  padding: 24px;
}

.jss173 {
  color: #b39076;
  margin-right: 16px;
}

.MuiSvgIcon-fontSizeLarge {
  font-size: 2.1875rem;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

table {
  width: 100%;
}
table,
ul {
  font-size: small;
  text-align: left;
}

.table-sortable {
  margin: 20px 0;
}

.table-sortable th {
  cursor: pointer;
  background-color: #002d74;
  color: white;
}

.table-sortable .th-sort-asc::after {
  content: '\25b4';
}

.table-sortable .th-sort-desc::after {
  content: '\25be';
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: #00122d;
}

.table-sortable thead tr th {
  padding: 10px;
}

.table-sortable .totals-row {
  background-color: #f8f2ec;
}

td {
  color: #444444;
  padding: 1em;
  vertical-align: top;
  border-top: 2px solid #e7e7e7;
  border-bottom: 2px solid #e7e7e7;
  border-right: 0;
  border-left: 0;
}

tbody tr {
  max-width: 100%;
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.75em;
}

tbody th:first-child td {
  border-top: 0;
}

tbody th {
  padding: 1em;
}
