/* Modify styles within this file to override styles within base.css file 
 * 
 **/
body{
	width:1000px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

/*Central div in the middle center table div */
#maintable{

	}

#innertext a{

}
#innertext a:hover{

}

/* Image thumbnails   */
div.tndiv{

}

div.tnimg{

}

div.tnimg a{

}

div.tnimg img{

}	

/*Misc general items*/
h1{
}

h2{
}

h3{
}
