/* Modify styles within this file to override styles within base.css file 
 * 
 **/
body{
	width: 80%;
	min-width:1400px;
	margin-top:0px;
	font-family: Verdana, Geneva, sans-serif;
	background-color:#e9e9e9;
	font-size: 12px;
}

/*Main table framework*/
#maintable{
	width: 100%;
	background-color:#FFFFFF;
	border:1px solid grey;
}

#maintable td{
	font-family: Arial, Helvetica, sans-serif;
}

#header{
	color:#FFFFFF;
	background-color:#026B6E;
	text-align:left;
	padding: 0px;
	padding-bottom: 0px;
	border-bottom:1px solid #333333;
}

#header a{

}

#header a:hover{

}

#middleleft{
}

#middleleftnomenu{
}

#middlecenter{
	padding: 0px;
}

#middleright{
}

#footer{
}

/*Central div in the middle center table div */
#innertext{
}

#innertext a{

}
#innertext a:hover{

}

.navpath {
}

/* Image thumbnails   */
div.tndiv{

}

div.tnimg{

}

div.tnimg a{

}

div.tnimg img{

}	

#cloptiondiv {
}

/*Misc general items*/
table{

}

h1{
}

h2{
}

h3{
}
#top_navbar{
	clear:both;
	height:32px;
	background-image:url(images/menu_pri_background.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#c2c2c2;
}
#right_navbarlinks{
	clear:both;
	font-size:11px;
	float:right;
	color:#000000;
	margin-top:9px;
}

#hor_dropdown{
	list-style:none;
	float:left;
	position:relative;
	font-size:12px;
	width:auto;
	height:31px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left:0px;
	background-image:url(images/menu_pri_background.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#c2c2c2;
}
#hor_dropdown li{		
	float:left;
	position:relative;
	padding:0;
	margin:0;
}
#hor_dropdown a{
	display:block;
	color:#000000;
	text-decoration:none;
	padding-top:8px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	background-image: url(images/menu-item_divider.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
}
#hor_dropdown a:hover{
	background-color:#999999;
	color:#FFFFFF;
	padding-top:8px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	background-image:none;
}
/* Submenu */
#hor_dropdown ul {
	list-style:none;
	position:absolute;
	left:-9999px;
	top:-9999px;
	background-color:#dcdcdc;
	z-index:1000;
}
#hor_dropdown ul li{
	float:none;
}
#hor_dropdown ul a{
	white-space:nowrap;
}
#hor_dropdown li:hover ul {
	left:0;
	top:32px;
	padding:0px;
	z-index:1000;
}
#hor_dropdown li:hover ul a {
	padding:5px;
	text-decoration:none;
	text-indent:8px;
	padding-right:8px;
	background-image: none;
	background-color:#dcdcdc;
	z-index:1000;
}
#hor_dropdown li:hover ul li a:hover { 
	background:#999999; 
}

#hor_dropdown li ul li ul {
	display: none;
}
#hor_dropdown li ul li:hover ul {
	left:100%;
	top:0;
	display: block;
	padding:0px;
	z-index:1000;
}
#hor_dropdown li ul li:hover ul a {
	padding:5px;
	text-decoration:none;
	text-indent:8px;
	padding-right:8px;
	background-image: none;
	background-color:#dcdcdc;
	z-index:1000;
}
#hor_dropdown li ul li:hover ul li a:hover { 
	background:#999999; 
}


table.styledtable{
}

table.styledtable th {
}

table.styledtable td {
}
table.styledtable tr.alt td {
}

/* Quick Search Plugin */
#quicksearchtext{
}

#quicksearchbutton{
}

.footer{
	padding:0px;
}
