ul {
        margin-left: 1.5em;
        padding: .25em 0 .5em 0;
}

li {
        padding: 0 0 .1em 0
}
div#sitemap {
        margin: 1em;
}

div#imglib {
        margin-top: 1em;
}

div#keymodule {
        color:red;
        margin-left: 1em;
}

#admin{
        margin: 2em 0 1em 1em;
        padding-left: 1em;
        padding-right: 1em;
}

div#admincollection{
        margin: 0 0 0 1em;
}

div#adminobservation{
        margin: 0 0 0 1em;
}

div#symbiotaschema{
        margin: 1.5em 0 0 1em;
}

div#symbiotaschema img{
        display: block;
        clear:left;
        float:left;
        margin: 0 0 .5em 0;
        padding: 0;
}

.description{
        margin-left: .5em;
}
